// -*- mode: javascript -*-

polkit.addRule(function(action, subject) {
    if (
        action.id == "org.freedesktop.policykit.exec" &&
        action.lookup("program") == "/usr/libexec/cockpit-bridge" &&
        subject.isInGroup("sudo")
    ) {
        return polkit.Result.YES;
    }

    if (
        action.id == "org.freedesktop.cockpit.file" &&
        action.lookup("path") == "/etc/default/aiscot" &&
        subject.isInGroup("sudo")
    ) {
        return polkit.Result.YES;
    }
});
